// Variables
$primary-color: #3498db;
$text-color: #ffff;

//navbar styles
nav {
    background-color: $primary-color;
    padding: 1rem;

    ul{
        list-style: none;
        display: flex;
        gap: 20px;

        li a {
            color: $text-color;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}